.navbar-light .navbar-nav .nav-link {
    color: #56595b;
    font-weight: 500;
}

.navbar-brand img {
    max-height: 30px;
    width: auto;
}

.carousel-inner img {
    max-height: 996px;
}

nav {
    background-color: white;
    text-align:center;
}

.nav-item{
    float: right;
}
.gym-block-text {
    padding: 20px 0px;
    border-bottom: 1px solid #f1f1f1;
}

.btn.gym-btn {
    background: #ec681d;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    padding: 8px 20px;
}