body{
    font-family: 'Lato', 'Open Sans', 'Roboto', 'Arial', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: #56595b;
    font-weight: 500;
}

.navbar-brand img {
    max-height: 30px;
    width: auto;
}


nav {
    background-color: white;
    text-align:center;
}

.nav-item{
    float: right;
}
.gym-block-text {
    padding: 20px 0px;
    border-bottom: 1px solid #f1f1f1;
}
.gym-block-text p {
    text-align: justify;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 0;
}
.btn.gym-btn {
    background: #ec681d;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    padding: 8px 20px;
    float: right;
    margin: 15px 0;
}
@media only screen and  (max-width: 430px){
    .btn.gym-btn {
        margin: 20px auto 0;
        width: 100%;
    }
    }
    @media only screen and (max-width: 768px){
    .btn.gym-btn {
        margin: 20px auto;
        display: block;
    }
    }

.gym-title-h2 {
    font-size: 35px;
    color: #05a7d7;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}
.gym-content {
    text-align: center;
    color: #666666;
    padding: 10px 0;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.fas{
    font-size: 35px;
    display: inline-block;
    color: #ec681d;
    margin-bottom: 5px;
}
.text-100{
    font-size: 30px;
    display: inline-block;
    color: #ec681d;
    font-weight: bold;
    letter-spacing: -2px;
    font-style: normal;
    line-height: initial;
}
.gym-support {
    text-align: center;
    padding: 20px 0 0;
}

.pillar1{
background-color: #0ba8d8;
}

.pillar2{
    background-color: #f36f30 ;
}

.pillar3{
    background-color: #a6ce3b;
}
.gym-pillar-txt {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 30px 0 30px 30px;
    color: #fff;
    
}
.gym-sec-pillar{
background-color: #f5f5f5;
padding-top:30px ;
padding-bottom: 60px
}
.gym-sec-support{
    background-color: #f5f5f5;
    padding-top: 60px ;
    padding-bottom: 30px;
}

.gym-sec-range{
    padding: 60px 0px;
}
.gym-pillar{
    display: flex;
    height: 196px;
}
.gym-title-h3 {
    font-size: 15px;
    margin-top: 0;
    text-transform: uppercase;
}

.gym-pillar img {
    height: 180px;
    align-self: flex-end;
    position: relative;
}

#equipment .carousel-indicators li{
    display: none;
}
.single-trainer-item img {
    min-width: 100%;
}

.single-trainer-item
{
    margin: 30px 0px;
}


.single-trainer-item .trainer-text {
    width: 282px;
    transform: translateX(-141px);
}
.trainer-section {
    background: #f5f5f5;
    padding-top: 90px;
    padding-bottom: 190px;
}

.single-trainer-item {
    position: relative;}

.single-trainer-item .trainer-text span {
        font-size: 16px;
        color: #f15d44;
}

.trainer-text {
    position: absolute;
    left: 50%;
    bottom: -55px;
    text-align: center;
    background: #ffffff;
    width: 310px;
    margin: 0 auto;
    transform: translateX(-155px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 30px 18px;
    height: 90px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
}
.footer-section {
    background: #333;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.contact-option span {
    font-size: 14px;
    color: #f15d44;
}
.contact-option p{
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
}

.subscribe-option{
    background-image: url('../img/footer.jpg');
    overflow: hidden;
    padding: 0 45px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.subscribe-option .so-text {
    float: left;
    padding: 34px 0 26px;
}
.so-text h4{
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.subscribe-option .so-text p {
    margin-bottom: 0;
    font-size: 14px;
    color: #ffffff;
}
.subscribe-option .so-text p {
    margin-bottom: 0;
    font-size: 14px;
    color: #ffffff;
    position: relative;
}
.subscribe-option .subscribe-form {
    float: right;
    width: 340px;
    position: relative;
    margin: 37px 0;
}
.subscribe-form input {
    width: 100%;
    height: 46px;
    font-size: 14px;
    color: #bdbdbd;
    border: 1px solid #ffffff;
    padding-left: 22px;
}

.subscribe-form button {
    font-size: 18px;
    color: #ffffff;
    background-color: #ec681d;
    border: none;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 22px;
}

.copyright-text {
    overflow: hidden;
}
.copyright-text .footer-social {
    float: right;
}
.copyright-text p {
    display: inline-block;
    padding-top: 6px;
    float: left;
    color: #ffffff;
    margin-right: 25px;
    
}
    
.copyright-text .footer-social a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    background: #282828;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } 
    .gym-title-h2 {
        font-size: 30px;
        margin-top: 0;
        line-height: inherit;}
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
    #equipment img{
    max-height: 400px;
    }
}

@media (max-width: 430px){
    .gym-title-h2 {
        font-size: 20px;
    }
  
}

@media (max-width: 480px){
.gym-title-h2 {
    font-size: 25px;
}
.subscribe-option .subscribe-form {
    width: 260px;
}
}

@media only screen and (max-width: 991px){
.subscribe-option .so-text {
    float: none;
}
}

.subHeader .subHeaderMain {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 55;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subHeader {
    height: 600px;
    text-align: center;
    color: #fff;
    background: url(../img/subbanner.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}

.subHeader:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    z-index: 44;
    background: rgba(0, 0, 0, 0.6) fixed;
}

 .section-title {
    padding: 30px 0px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section-title h1 {
    margin-bottom: 10px;
}
.main-about .feature-right .single-feature {
    max-width: 360px;
    margin-bottom: 30px;
}
.main-about .feature-right .single-feature h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px; 
}
.main-about {
    padding-bottom: 30px;
}

.main-eq {
    padding: 60px 0;
}

.main-eq .titlePage {
    font-size: 30px;
    color: #05a7d7;
    text-align: center;
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}
.grid-sizer, .grid-item {
    width: 33.333%;
}

.grid-item {
    float: left;
    padding: 5px;
}
.grid-item img {
    display: block;
    max-width: 100%;
}


.contact-section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.contact-info h4 {
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 47px;
}
.contact-info .contact-address .ca-widget {
    overflow: hidden;
    margin-bottom: 16px;
}
.contact-form h4 {
    font-weight: 600;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 47px;
}
.contact-form form input {
    width: 100%;
    height: 51px;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}
.contact-form form textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 42px;
    resize: none;
}

.contact-form form button {
    font-size: 14px;
    color: #ffffff;
    padding: 10px 33px;
    display: inline-block;
    background-color: #ec681d;
    border: none;
    text-transform: uppercase;
}

.contact-info .contact-address .ca-widget .cw-icon {
    height: 74px;
    width: 74px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    text-align: center;
    line-height: 74px;
    float: left;
    margin-right: 28px;
}
.faq{
    padding: 40px 0px;
}
.panel-group {
    margin-bottom: 20px;
}

.panel {
    margin: 0 0 20px;
    border-radius: 4px;background-color: #fff;
    border: 1px solid transparent;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-heading a.collapsed {
    background: #fff;
    color: #333;
    border-radius: 4px;
}
.panel-heading a {
    display: block;
    padding: 20px 30px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
}
.panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 1px solid #ddd;
}
.panel-body {
    padding: 30px;
}
.panel-group .panel+.panel {
    margin-top: 5px;
}
.panel-default {
    border-color: #ddd;
}
.collapse.in {
    display: block;
}
.panel-heading a .caret {
    display: block;
    width: 10px;
    float: right;
    margin-top: 20px;
    border-top: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

 .panel-heading h3 {
    float: left;
    font-size: 18px;
    font-family: 'Lato', 'Open Sans', 'Roboto', 'Arial', sans-serif;
    font-weight: bold;
    width: calc(100% - 20px);
}

.membership-section {
    padding: 50PX;
}
.membership-section .section-title {
    margin-bottom: 55px;
    text-align: center;
}
.section-title h2 {
    color: #111111;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.membership-item {
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 15px 49px rgba(0, 0, 0, 0.15);
    padding-bottom: 50px;
}
.membership-item .mi-title {
    background-color: #ec681d;
    padding: 25px 0;
    position: relative;
    margin-bottom: 38px;
}

.membership-item .mi-title h4 {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.membership-item .mi-price {
    font-size: 40px;
    color: #f15d44;
    font-weight: 600;
    margin-bottom: 24px;
}
.membership-item .mi-price span {
    font-size: 16px;
    color: #6b6b6b;
    font-weight: 400;
}
.membership-item ul {
    margin-bottom: 27px;
    padding: 0px;
}
.membership-item ul li {
    list-style: none;
    font-size: 16px;
    line-height: 36px;
}
.membership-item ul li p {
    margin-bottom: 0;
    color: #6b6b6b;
}

.membership-item ul li span {
    color: #111111;
    font-weight: 600;
}
.membership-item .membership-btn {
    color: #111111;
}
.primary-btn {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    padding: 0 12px;
    text-align: center;
    width: 160px;
    height: 46px;
    border: 2px solid #f67831;
    box-sizing: border-box;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    line-height: 45px;
    position: relative;
    z-index: 1;

}

.blog-section {
    padding-top: 100px;
    padding-bottom: 50px;
}
.single-blog-item {
    margin-bottom: 42px;
}
.single-blog-item img {
    min-width: 100%;
    margin-bottom: 30px;
}
.blog-widget {
    margin-bottom: 10px;
}
.bw-date {
    font-size: 14px;
    color: #bdbdbd;
    display: inline-block;
    margin-right: 8px;
}
.tag {
    font-size: 14px;
    color: #f15d44;
}
.single-blog-item h4 a {
    color: #111111;
    font-weight: 600;
    line-height: 30px;
}
.blog-details {
    padding: 50px 0px;

}

.bd-text .bd-title {
    margin-bottom: 55px;
}
.bd-title .bm-item p {
    font-size: 17px;
    line-height: 30px;
} 
.bd-text .bd-pic {
    margin-bottom: 35px;
}
.bd-text .bd-pic img {
    min-width: 100%;
    margin-bottom: 20px;
}
.bd-text .bd-more-text .bm-item h4 {
    font-weight: 600;
    column-rule: #111111;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog-details h1{
    padding-bottom:10px ;
}

.join-form form input {
    width: 100%;
    height: 51px;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;    
    font-weight: 400;
    background-color: #eaeaea;
}

.join-box {
    box-shadow: 12px 12px 60px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    margin-top: 50px;
}

.join-form{
    padding: 50px 50px;
}

.join-form .title{
    padding: 20px 20px;
    text-align: center;
}

.join-form  label {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0;
    color: #232a35;
    margin-bottom: 10px;
    display: block;
}

.join-form select {
    color: #b2b5b9;
    text-transform: uppercase;
    border: 1px solid #dfdfdf;
    width: 100%;
    height: 48px;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 35px;
    background-color: #eaeaea;
}
.join-form .gym-btn,.form-bmi .gym-btn {
    border: 2px solid #f48460;
    padding: 10px 25px;
    color: white;
    text-transform: uppercase;
    border-radius: 34px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0;background-color: #f48460;
    margin-bottom: 20px;
    
}
.checkbox {
    width: 16px;
    height: 16px;
    position: relative;
    display: inline-block; 
}
.bmi{
    text-align: center;
    box-shadow: 12px 12px 60px 0 rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 50px 0px;
}

.form-bmi input {
    width: 40%;
    height: 51px;
    border: 1px solid #e1e1e1;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 30px;    
    font-weight: 400;
    background-color: #eaeaea;
}

.bmi-title{
    font-size: 35px;
    color: #05a7d7;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}
.bmi-sub{
    font-size: 15px;
    color: #ec681d;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.bmi p{
    text-align: justify;
    padding: 0px 50px;
}
