.navbar-light .navbar-nav .nav-link {
    color: #56595b;
    font-weight: 500;
}

.navbar-brand img {
    max-height: 30px;
    width: auto;
}

.carousel-inner img {
    max-height: 996px;
}

nav {
    background-color: white;
    text-align:center;
}

.nav-item{
    float: right;
}
.gym-block-text {
    padding: 20px 0px;
    border-bottom: 1px solid #f1f1f1;
}
.gym-block-text p {
    text-align: justify;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 0;
}
.btn.gym-btn {
    background: #ec681d;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2px;
    padding: 8px 20px;
    float: right;
    margin: 15px 0;
}
@media only screen and  (max-width: 430px){
    .btn.gym-btn {
        margin: 20px auto 0;
        width: 100%;
    }
    }
    @media only screen and (max-width: 768px){
    .btn.gym-btn {
        margin: 20px auto;
        display: block;
    }
    }

.gym-title-h2 {
    font-size: 35px;
    color: #05a7d7;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}
.gym-content {
    text-align: center;
    color: #666666;
    padding: 10px 0;
    max-width: 70%;
    margin: auto;
    margin-bottom: 10px;
}
.fas{
    font-size: 35px;
    display: inline-block;
    color: #ec681d;
    margin-bottom: 5px;
}
.text-100{
    font-size: 30px;
    display: inline-block;
    color: #ec681d;
    font-weight: bold;
    letter-spacing: -2px;
    font-style: normal;
    line-height: initial;
}
.gym-support {
    text-align: center;
    padding: 20px 0 0;
}

.pillar1{
background-color: #0ba8d8;
}

.pillar2{
    background-color: #f36f30 ;
}

.pillar3{
    background-color: #a6ce3b;
}
.gym-pillar-txt {
    position: relative;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 30px 0 30px 30px;
    color: #fff;
    
}
.gym-pillar{
    display: flex;
    height: 196px;
}
.gym-title-h3 {
    font-size: 15px;
    margin-top: 0;
    text-transform: uppercase;
}

.gym-pillar img {
    height: 180px;
    align-self: flex-end;
    position: relative;
}

.gym-text-link{    
    text-align: center;
    display: block;
    padding: 15px 0;
    color: #ec681d;
    font-size: 18px;

}
.single-trainer-item img {
    min-width: 100%;
}

.single-trainer-item .trainer-text {
    width: 282px;
    transform: translateX(-141px);
}
.trainer-section {
    background: #f5f5f5;
    padding-top: 90px;
    padding-bottom: 190px;
}

.single-trainer-item {
    position: relative;}

.single-trainer-item .trainer-text span {
        font-size: 16px;
        color: #f15d44;
}

.trainer-text {
    position: absolute;
    left: 50%;
    bottom: -55px;
    text-align: center;
    background: #ffffff;
    width: 310px;
    margin: 0 auto;
    transform: translateX(-155px);
    -webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 30px 18px;
    height: 90px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
}
.footer-section {
    background: #333;
    padding-top: 60px;
    padding-bottom: 30px;
}

.contact-option span {
    font-size: 14px;
    color: #f15d44;
}
.contact-option p{
    font-size: 16px;
    color: #ffffff;
    margin-top: 15px;
}

.subscribe-option{
    background-image: url('../img/footer.jpg');
    overflow: hidden;
    padding: 0 45px;
    margin-bottom: 30px;
    margin-top: 43px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.subscribe-option .so-text {
    float: left;
    padding: 34px 0 26px;
}
.so-text h4{
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.subscribe-option .so-text p {
    margin-bottom: 0;
    font-size: 14px;
    color: #ffffff;
}
.subscribe-option .so-text p {
    margin-bottom: 0;
    font-size: 14px;
    color: #ffffff;
    float: right;
    width: 340px;
    position: relative;
}
.subscribe-option .subscribe-form {
    float: right;
    width: 340px;
    position: relative;
    margin: 37px 0;
}
.subscribe-form input {
    width: 100%;
    height: 46px;
    font-size: 14px;
    color: #bdbdbd;
    border: 1px solid #ffffff;
    padding-left: 22px;
}

.subscribe-form button {
    font-size: 18px;
    color: #ffffff;
    background-color: #ec681d;
    border: none;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 22px;
}

.copyright-text {
    overflow: hidden;
}
.copyright-text .footer-social {
    float: right;
}
.copyright-text p {
    display: inline-block;
    padding-top: 6px;
    float: left;
    color: #ffffff;
    margin-right: 25px;
    
}
    
.copyright-text .footer-social a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    width: 40px;
    height: 40px;
    background: #282828;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card img {
    border-radius: 2px; }
#equipment img{
    max-height: 400px;
}